{% extends "_base.html" %}

{% macro branch(name) -%}
<code><i class="icon-code-fork"></i> {{ name }}</code>
{%- endmacro %}

{% macro commit(id) -%}
<code><a href="https://github.com/LoungeCPP/LoungeChat/commit/{{ id }}"><i class="icon-code"></i> {{ id }}</a></code>
{%- endmacro %}

{% macro warn(text) -%}
<i class="icon-warning-sign"></i> <strong>{{ text|safe }}</strong>
{%- endmacro %}

{% block contents %}
<h1>Workflow</h1>
<p>The basic workflow is as follows:</p>
<ol>
    <li>Make sure the feature is something we want (ask in chat or whatever).</li>
    <li>Fork the <a href="https://github.com/LoungeCPP/LoungeChat">master repository</a>.</li>
    <li>Create a new feature branch called {{ branch("feature/XYZ") }} (with XYZ being short name of the feature you're implementing),
    basing on {{ branch("develop") }}.</li>
    <li>Work on your feature.</li>
    <li>Create a <a href="https://help.github.com/articles/using-pull-requests">pull request</a>.</li>
</ol>
<p>Pull request MUST describe the feature you've implemented in detail. Your code will be reviewed,
and you might be asked to make changes before the PR is accepted. Don't issue PRs on incomplete things.</p>
<div class="alert alert-info">
    <strong>Important:</strong> do not merge into {{ branch("master") }}. We generally follow
    <a href="http://nvie.com/git-model/">git-flow</a> model, and the {{ branch("master") }} is reserved for released code.
</div>

<h1>Commit messages</h1>
<p>Follow <a href="http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html">tpope's guidelines</a>
for formatting the commit messages (no, the strict grammatical form is not required).</p>
<p>For an example, look at {{ commit("2857b92c2a") }} or {{ commit("93c14ce17f") }}.</p>

<h1>Coding style</h1>
<p>Generally PEP8. Look at the code and follow the lead, don't make me babysit you.</p>
<ul>
    <li><strong>Follow <a href="http://en.wikipedia.org/wiki/SOLID_%28object-oriented_design%29">SOLID</a> principles.</strong></li>
    <li>LF line endings. If you edit on Windows, use a real fucking text editor and don't break my precious files.</li>
    <li><code>ClassNames</code>.</li>
    <li><code>method_names</code>, <code>function_names</code>, <code>variable_names</code> et cetera.</li>
    <li><code>CONSTANT_NAMES</code>.</li>
    <li>4 spaces indent. No tabs whatsoever.</li>
    <li>Try to make lines not longer than 150 characters.</li>
    <li>{{ warn("SPACES AROUND =!") }} I will end you if you commit something like <code>foo(x=1)</code>.</li>
    <li>{{ warn("No dangling whitespace at the end of lines and in empty lines!") }}</li>
    <li>{{ warn("No line continuations! Use parentheses instead.") }}</li>
    <li>Group yer imports — stdlib modules, vendor modules, app modules.</li>
    <li>Empty lines between import groups not required. Also you can import multiple things in one statement.</li>
</ul>

{% endblock %}
